LLM_API_BASE=https://api.openai.com/v1      #本地或在线的OpenAI或兼容API地址
LLM_API_KEY=sk-xxxxx                        #密钥
LLM_MODEL=gpt-4.1-mini                      #模型名称
LLM_MODEL_SMALL=                            #小模型名称，留空代表不另外设置（用于查询重写和用户意图）

EMBEDDING_MODEL=BAAI/bge-m3                 #可以不修改，自动从hf上下载。
RERANKER_MODEL=BAAI/bge-reranker-v2-m3      #可以不修改，自动从hf上下载。

CHUNK_SIZE=1024                             #分块大小。
CHUNK_OVERLAP=80                            #分块重叠区间（暂未使用）。

RETRIEVAL_VECTOR_TOP_K = 15                 #向量召回数量。
RETRIEVAL_BM25_TOP_K = 15                   #BM25召回数量。
VECTOR_SIMILARITY_TOP_K = 30                #相似内容召回数量。

RETRIEVAL_RERANK_TOP_N = 5                  #重排序后召回数量。
RETRIEVAL_RERANK_TOP_N_MAX = 10             #最大扩展召回数量。

REF_FILE_PATH =                             #参考文档路径（用于图像显示）。